.song{
    background-color: grey;
}
.list-group-item{
    background-color: #1a1a1a;
}

.panel-default > .panel-heading{
    color: #0083ff;
    background-color:#1a1a1a;
}

.panel-body {
    background-color: black;
    color:#0083ff;
}


#playlist{

    position: absolute;
    right: 40px;
    top: 20px;
}
